Repository cloudfoundry/backup-and-restore-sdk-release, pull requests merged in 2022-12, with the labels that each got.

#790 Use a real BOSH Director to run system tests using BOSH-in-Docker
  .github/workflows/run-test-pyramid.yml
  Makefile
  ci/dockerfiles/bosh-in-docker/Dockerfile
  ci/dockerfiles/bosh-in-docker/create-env.sh
  ci/dockerfiles/bosh-in-docker/install-dind.sh
  ci/dockerfiles/dockerize-release/Dockerfile
  ci/dockerfiles/run-system-db-tests/Dockerfile
  docker-compose.yml
  scripts/boshcompiler/Makefile
  scripts/boshcompiler/README.md
  scripts/boshcompiler/go.mod
  scripts/boshcompiler/go.sum
  scripts/boshcompiler/internal/concurrently/concurrently_suite_test.go
  scripts/boshcompiler/internal/concurrently/run.go
  scripts/boshcompiler/internal/concurrently/run_test.go
  scripts/boshcompiler/internal/manifest/manifest.go
  scripts/boshcompiler/internal/manifest/manifest_suite_test.go
  scripts/boshcompiler/internal/manifest/manifest_test.go
  scripts/boshcompiler/internal/workstatus/workstatus.go
  scripts/boshcompiler/main.go
  scripts/boshcompiler/tools/tools.go
  src/database-backup-restore/scripts/run-system-db-tests-mariadb.bash
  src/database-backup-restore/scripts/run-system-db-tests-mysql.bash
  src/database-backup-restore/scripts/run-system-db-tests-postgres.bash
Labels: unscheduled, system-tests, bosh-tests

#785 Support postgres 15
  Makefile
  ci/dockerfiles/bosh-in-docker/Dockerfile
  ci/dockerfiles/bosh-in-docker/create-env.sh
  ci/dockerfiles/bosh-in-docker/install-dind.sh
  ci/dockerfiles/run-golang-unit-tests/Dockerfile
  ci/dockerfiles/run-system-db-tests/Dockerfile
  ci/dockerfiles/run-system-db-tests/postgres/enable_tls.sh
  ci/dockerfiles/sdk-template-unit-tests/Dockerfile
  ci/pipelines/backup-and-restore-sdk-release/pipeline.yml
  config/blobs.yml
  docker-compose.yml
  jobs/database-backup-restorer/spec
  jobs/database-backup-restorer/templates/backup
  jobs/database-backup-restorer/templates/restore
  packages/database-backup-restorer-postgres-15/packaging
  packages/database-backup-restorer-postgres-15/spec
  src/database-backup-restore/config/utilities.go
  src/database-backup-restore/database/interactor_factory.go
  src/database-backup-restore/integration_tests/database_backup_and_restore_suite_test.go
  src/database-backup-restore/integration_tests/database_backup_restore_test.go
  src/database-backup-restore/integration_tests/postgres_test.go
  src/database-backup-restore/scripts/run-system-db-tests-mariadb.bash
  src/database-backup-restore/scripts/run-system-db-tests-mysql.bash
  src/database-backup-restore/scripts/run-system-db-tests-postgres.bash
Labels: system-tests

#800 Update vendored package golang-1-linux
  .final_builds/packages/golang-1-linux/index.yml
  packages/golang-1-linux/spec.lock
Labels: unscheduled, bump-golang, ci

#795 Modify postgres-15 blob to include MINOR semver in path
  config/blobs.yml
  packages/database-backup-restorer-postgres-15/packaging
  packages/database-backup-restorer-postgres-15/spec
Labels: unscheduled, ci
